/* The navigation bar */
.navbar {
  height: 80px;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  justify-content: center;
  padding: 30px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
  height: 100%;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 65%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 { background-image: url("/w012-challenge/images/DSC_0282-01.png");}
.img2 { background-image: url("/w012-challenge/images/DSC_0453-01.png");}
.img3 { background-image: url("/w012-challenge/images/DSC_0612-01.png");}
.img4 { background-image: url("/w012-challenge/images/DSC_6934-01.png");}
.img5 { background-image: url("/w012-challenge/images/DSC_6965-01.png");}
.img6 { background-image: url("/w012-challenge/images/DSC_7375-01.png");}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: auto;
  padding: 20px;
  text-align: center;
}